.question-card {
  max-width: 600px;
  width: 80%;
  margin: 15px auto;
  padding: 15 px;
  border: 2px solid var(--color-purple);
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--color-purple);
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}

.question-card__icon {
  position: absolute;
  right: 10px;
  top: -14px;
  cursor: pointer;
}
.question-card__question {
  margin: 10px;
  background-color: var(--color-light-grey);
  border-radius: 6px;
}

.question-card__answer {
  display: none;
  margin: 10px;
  color: var(--color-light-grey);
  background-color: var(--color-dark);
  border-radius: 6px;
}

.category {
  margin: 10px 5px;
  display: flex;
  justify-content: flex-start;
}

.category__tag {
  background-color: var(--color-light-grey);
  list-style: none;
  border: 2px solid var(--color-purple);
  border-radius: 5px;
  padding: 5px 10px;
}


