

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.navlink {
  list-style: none;
}

.navlink a:hover {
  background-color: var(--color-purple);
}
